{% extends 'base.html.twig' %}

{# {{ dump(website) }} #}

{% block body %}

<style>

th a {
  color: black;
}

th a:hover {
  color: black;
  text-decoration: underline;
}

</style>

<div class="container">
  <h1 class="my-5 text-center">
    {{ website.name }}
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Url</th>
        <th scope="col">Date</th>
        <th scope="col">Code HTTP</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {# <tr>
        <th scope="row"><a href="{{ website.url }}" target="_blank">{{ website.url }}</a></th>
        <td>200</td>
        <td><i class="fas fa-check-circle"></i></td>
      </tr> #}
      {% for status in website.statuses %}
      <pre>
        
      </pre>
        <tr>
          <th scope="row"><a href="{{ website.url }}" target="_blank">{{ website.url }}</a></th>
          <td>{{ status.reportedAt | date("d-m-Y H:i:s")}}</td>
          <td>{{ status.code }}</td>
          <td>
            {% if status.code == 200 or status.code == 301 or status.code == 302 %}
              <i class="fas fa-check-circle"></i>
            {% elseif status.code == 404 %}
              <i class="fas fa-exclamation-triangle"></i>
            {% else %}
              <i class="fas fa-question-circle"></i>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}