{% extends 'base.html.twig' %}

{# {% block title %}Hello AdminController!{% endblock %} #}

{% block body %}
<div class="container">
  <h1 class="head text-center my-5">Dashboard Admin</h1>
  <div class="d-flex justify-content-around my-5">
    <a href="{{ path("analyze") }}" class="btn btn-info">
      <i class="fas fa-tools"></i>
      Lancer le diagnostic
    </a>
    <a href="{{ path("admin_new") }}" class="btn btn-success">
      <i class="fas fa-tools"></i>
      Ajouter un site
    </a>
    <a href="{{ path("clean") }}" class="btn btn-warning">
      <i class="fas fa-plus"></i>
      Nettoyer historique
    </a>
  </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Url</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for website in websites %}
    <tr>
      <th>{{ website.id }}</th>
      <td>{{ website.name }}</td>
      <td>{{ website.url }}</td>
      <td>
        <a href="{{ path('admin_edit', {
          'id': website.id
          }) }}" class="btn btn-success">
          <i class="fas fa-edit"></i>
          Éditer
        </a>
        <a  href="{{ path('admin_remove', {
          'id': website.id
          }) }}" class="mx-5 btn btn-danger">
          <i class="fas fa-trash"></i>
          Supprimer
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
