<style>
a, a:hover {
  color: white;
  text-decoration: none;
}
</style>

<nav class="navbar navbar inverse bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path("home") }}">
      <i class="fas fa-home"></i>
      Accueil
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="{{ path("admin_dashboard") }}">Dashboard admin</a>
      </li>
    </ul>
    {% if app.user %}
    {# connected or not #}
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="{{ path("logout") }}">Déconnexion</a>
      </li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="{{ path("login") }}">Connexion</a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>

<div class="container alerts mt-3">
  {% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }} alert-dismissible show">
      {% for message in messages %}
      {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {% endfor %}
    </div>
  {% endfor %}
</div>

